@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
::selection{
  background: #dd4bb9;
  color: #fff;
}
title{size: 60px;
}
html,body{
  display: grid;
  height: 100%;
  place-items: center;
  background: #80c235;
}
.container{
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
flex-wrap: wrap;
  padding: 20px;
}
.container .box{
  width: calc(33% - 10px);
  background: rgb(243, 238, 238);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 50px;
  border-radius: 5px;
}
.container .box .image{
  margin: 10px 0;
  height: 150px;
  width: 150px;
  background: #4aacaf;
  padding: 3px;
  border-radius: 50%;
}
.box .image img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid rgb(240, 224, 224);
}
.box p{
  text-align: justify;
  margin-top: 8px;
  font-size: 16px;
  font-weight: 400;
}
.box .name{
  margin: 10px 0 3px 0;
  color: #1de403;
  font-size: 18px;
  font-weight: 600;
}
.contact{
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.contact button{
  background: #483de0;
  width: 100%;
  padding: 9px 0px;
  outline: none;
  border: 2px solid #524ab9;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 400;
  color: #554cd3;
  transition: all 0.3s linear;
}
.contact button:first-child{
  background: none;
  margin-right: 5px;
}
.contact button:last-child{
  color: #fff;
  margin-left: 5px;
}
.contact button:first-child:hover{
  background: #5951c4;
  color: #fff;
}
.contact button:hover{
  color: #fff;
}
@media (max-width:1045px){
  .container .box{
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width:710px){
  .container .box{
    width: 100%;
  }
}
